.list-todo-container {
  button {
    cursor: pointer;
  }
  .add {
    margin: 0 10px;
  }
  .add-todo {
  }
  .list-todo-content {
    width: 500px;
    margin: 0 auto;
    .todo-child {
      &:first-child {
        border-top: 1px solid #666;
      }
      height: 40px;
      border-bottom: 1px solid #666;
      margin: 10px;
      .edit {
        margin: 0 10px;
      }
    }
  }
}
